*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
html {
    scroll-behavior:smooth;
}
body {
    background:linear-gradient(to bottom,#f8f2ff,#f1e6ff,#ffffff);
    color:#333;
}
.logo {
    display:flex;
    align-items:center;
}
.logo img {
    width: 70px;
    height:70px;
    border-radius:50%;
    margin-right:10px;
}
.logo h2 {
    color:white;
    font-size:28px;
}
nav {
    background:#8a2be2;
body{
    background-color:#f5edff;
}
nav{
    background-color:#8a2be2;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    position:sticky;
    top:0;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}
}
.song-list span{
    color:#8a2be2;
    font-size:14px;
    font-style:italic;
    display:block;
    margin-top:5px;
}
.song-list h3{
    color:#6a0dad;
    margin:40px 0 20px;
    text-align:center;
    font-size:28px;
}
.song-list ul {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    list-style:none;
    padding:0;
    margin-bottom:40px;
}
.song-list li {
    width: 150px;
    background:white;
    padding:15px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

